.pImages {
    justify-content: center;
    margin-left: 100px;
    div{
        display: inline;
        margin-left: 15px;
    }
}

img {
    
    border-radius: 20px;
    padding: 5px;
    width: 400px;
}

@media screen and (max-width: 640px) {
    img {
    
        border-radius: 20px;
        padding: 5px;
        width: 200px;
    }
}